<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ex1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>First Servlet</servlet-name>
    <servlet-class>lesson.j2ee.ex1.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First Servlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectBeerServlet</servlet-name>
    <servlet-class>lesson.j2ee.ex1.SelectBeerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBeerServlet</servlet-name>
    <url-pattern>/SelectBeerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeReturn</display-name>
    <servlet-name>CodeReturn</servlet-name>
    <servlet-class>lesson.j2ee.ex1.CodeReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeReturn</servlet-name>
    <url-pattern>/CodeReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowBrownBeer</servlet-name>
    <servlet-class>lesson.j2ee.ex1.ShowBrownBeer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBrownBeer</servlet-name>
    <url-pattern>/ShowBrownBeer</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ShowDarkBeer</servlet-name>
    <servlet-class>lesson.j2ee.ex1.ShowDarkBeer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDarkBeer</servlet-name>
    <url-pattern>/ShowDarkBeer</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>BeerParamTest</servlet-name>
    <servlet-class>lesson.j2ee.ex1.BeerParamTest</servlet-class>
	<init-param>
    <param-name>adminEmail</param-name>
    <param-value>dust6174@gmail.com</param-value>
    </init-param>
    <init-param>
    <param-name>mainEmail</param-name>
    <param-value>dust6174@qq.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerParamTest</servlet-name>
    <url-pattern>/Tester</url-pattern>
    </servlet-mapping>
    <context-param>
    <param-name>2333</param-name>
    <param-value>7777</param-value>
    </context-param>
</web-app>