<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePersonalInfo</display-name>
    <servlet-name>ChangePersonalInfo</servlet-name>
    <servlet-class>Servlet.ChangePersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePersonalInfo</servlet-name>
    <url-pattern>/ChangePersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManage</display-name>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>Servlet.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/UserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PosterManage</display-name>
    <servlet-name>PosterManage</servlet-name>
    <servlet-class>Servlet.PosterManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PosterManage</servlet-name>
    <url-pattern>/PosterManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardManage</display-name>
    <servlet-name>BoardManage</servlet-name>
    <servlet-class>Servlet.BoardManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardManage</servlet-name>
    <url-pattern>/BoardManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfo</display-name>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>Servlet.PersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowList</display-name>
    <servlet-name>ShowList</servlet-name>
    <servlet-class>Servlet.ShowList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowList</servlet-name>
    <url-pattern>/ShowList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PosterInfo</display-name>
    <servlet-name>PosterInfo</servlet-name>
    <servlet-class>Servlet.PosterInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PosterInfo</servlet-name>
    <url-pattern>/PosterInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReply</display-name>
    <servlet-name>AddReply</servlet-name>
    <servlet-class>Servlet.AddReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReply</servlet-name>
    <url-pattern>/AddReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>Servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMyPoster</display-name>
    <servlet-name>EditMyPoster</servlet-name>
    <servlet-class>Servlet.EditMyPoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMyPoster</servlet-name>
    <url-pattern>/EditMyPoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPoster</display-name>
    <servlet-name>AddPoster</servlet-name>
    <servlet-class>Servlet.AddPoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPoster</servlet-name>
    <url-pattern>/AddPoster</url-pattern>
  </servlet-mapping>
</web-app>